doctype html
html
    head
        title #{pageTitle}
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/admin/css/styles.css")

    body
        include ../partials/header.pug

        .body
            include ../partials/sider.pug

            .main
                block main

        script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")
        //TinyMCE
        script(src="https://cdn.tiny.cloud/1/23y3u4xzz7heq6n6q61hqdigi5t28y5l7a6xw462311evfqa/tinymce/6/tinymce.min.js" referrerpolicy="origin")
        script(src="/admin/js/tinyMCE-config.js")
        //end TinyMCE
        script(src="/admin/js/script.js")